#portada {
  background-image: linear-gradient(to right, rgb(225, 141, 251, 0.6) 0%, rgb(90, 142, 241, 0.6) 100%), url(../../../assets/img/fondo-escritorio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2%;

  height:100vw;
  width: auto;

}
a{
  color: black;
  display: block;
}

#datos {
  width: 67%;
  float: left;
  padding: 1%;
  margin: 2% 0%;

}


#nombre {
  font-size: 9vh;
  font-weight: 300;
  font-family: 'Abril Fatface', cursive;
  display: block;
}



ul {
  margin-top: 4%;
  display: inline-block;
  justify-content: space-around;
}

ul li {

  list-style: none;
  margin: 1% 1%;
  font-family: 'Lato', sans-serif;
}

ul li b {
  font-family: 'Montserrat', sans-serif;
}

ul li i {
  margin-right: 1%;
}

.sobre-mi {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  padding: 2% 1% 2% 5%;
  margin: 3% 0% 2% -6%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 90%;
}

.sobre-mi h3 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1%;
}

#foto-port1 img {
  width: 100%; 
   margin: 1% auto;
 
}


#foto-port1 {
  width: 30%;
  float: left;
  text-align: center;
  display: flex;
  height: 60vh;
}
#foto-port {
  visibility: collapse;
  height: 0;
}

#foto-port img {
  visibility: collapse;
}
@media (max-width:950px) {
  #nombre {
    font-size: 7vh;
    font-weight: 300;
    font-family: 'Abril Fatface', cursive;
    display: block;
  }
}

@media (max-width:768px) {
  #portada {
    height: 100%;
    width: auto;
  
  }
  #datos {
    width: 100%;
    float: none;
    padding: 1%;
    margin: 2% 0%;
  }

  #foto-port img {
    width: 50%;
    float: none;
    margin: 0% 25%;
  }

  ul {
    margin-top: 4%;
    display: block;
    justify-content: space-around;
  }

  ul li {

    font-family: 'Lato', sans-serif;
  }

  .sobre-mi {
    font-size: 15px;
  }

  #nombre {
    font-size: 6vh;
    font-weight: 300;
    font-family: 'Abril Fatface', cursive;
  }

  
  #foto-port {
    visibility:visible;
    height: auto;
  }
  
  #foto-port img {
    visibility: visible;
  }

  #foto-port1 {
    visibility: collapse;
    height: 0;
  }
  
  #foto-port1 img {
    visibility: collapse;
  }
}
@media (max-width:424px) {
  #nombre {
    font-size: 4.5vh;
    font-weight: 300;
    font-family: 'Abril Fatface', cursive;
    display: block;
  }
}
@media (max-width:320px) {
  #portada {
    height: 100%;
    width: auto;
  
  }
  .sobre-mi {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 2% 1% 2% 1%;
    margin: 0% 0% 0% 0%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: auto;
  }

  ul li i {
    margin-right: 0%;
  }

  #nombre {
    font-size: 4vh;
    font-weight: 300;
    font-family: 'Abril Fatface', cursive;
  }

  #foto-port {
    visibility:visible;
    height: auto;
  }
  
  #foto-port img {
    visibility: visible;
  }

  #foto-port1 {
    visibility: collapse;
    height: 0;
  }
  
  #foto-port1 img {
    visibility: collapse;
  }

  #port {
    display: block;
  }

  #datos {
    width: 100%;
    display: block;
    float: none;
    margin: 0% 0%;
    padding: 0% -1%;
  }

}