<div id="portada">
  <div id="foto-port">
    <img src="../../../assets/img/foto-perfil.jpg" alt="foto-perfil2" class="foto-perfil2">
  </div>
  <div id="datos">
    <h1>Yo soy </h1>
    <strong id="nombre">Camila Andrea Muñoz</strong>
    <ul>

    <li>
      <i class="fa-solid fa-phone"></i>
      <b>Telefono:</b> 67505071
    </li>

    <li>
      <i class="fa-solid fa-location-dot"></i>
      <b>Direccion:</b> Av.Tadeo Haenke, Zona Hipodromo
    </li>

    <li>
      <i class="fa-solid fa-envelope"></i>
      <b>Email:</b><a href="mailto:camilaandreamunoz16@gmail.com?
      Subject=Interesado%20en%20contactarte">camilaandreamunoz16@gmail.com</a>
    </li>

    <li>
      <i class="fa-solid fa-calendar"></i>
      <b>Fecha de nacimiento:</b>16/12/2001
    </li>

  </ul>
    <div  class="sobre-mi">
      <h3>Sobre mi</h3>
      <p> 
        Soy una persona comprometida y con muchas ganas de adquirir nuevos conocimientos. Me apasiona programar y aprender
        mas respecto a los temas de tecnologia y programacion.
        <br>
        Gracias a mis competencias y mi motivacion lograre cada vez mejores resultados en el area profesional
      </p>
    </div>
  </div>

  <div id="foto-port1">
    <img src="../../../assets/img/foto-perfil.jpg" alt="foto-perfil" class="foto-perfil">
  </div>
</div>
